<html>


<head>
    <title>Earth's GHOST POST</title>
</head>

<body>
    <h1>GHOST POST</h1>
    <p>Filter by:
            <a href="/"><button>All</button></a>
            <a href="/boasts"><button>Boasts</button></a>
            <a href="/roasts"><button>Roasts</button></a>
            <a href="/?sort=up"><button>Up</button></a>
            <a href="/?sort=down"><button>Down</button></a>
            <a href="/addpost"></a>
            
        
    </p>


{% for foo in posts %}
    {{ foo.message }}
    
    <ul>
        {% if foo.post_type %}
            <h4>Boast:</h4>
        {% else %} 
            <h4>Roast:</h4>
        {% endif %} 
        <button type="POST"><a href="/upvotes/{{foo.id}}">Upvotes:</a></button>{{ foo.upvotes }}
        <button type="POST"><a href="/downvotes/{{foo.id}}">Downvotes:</a></button>{{ foo.downvotes }}
        <p>{{foo.submit_time}}</p>
        </ul> 

    <hr><br>
{% endfor %}


     <a href="/addpost"><button>Submit New Boast or Roast Here!</button></a>   
     
</body>
</html>
